header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1547b3;
    color: #fff;
    padding: 10px;
    margin: 0px;
    min-height: 100px;
}



.menu-icon img {
    width: 60px;
    margin-left: 100px;
    height: auto;    
    cursor: pointer;
}
.icons i {
    color: #e0e0e0 !important;
    font-size: 1.5rem;
}

.search-box {
    display: flex;
    align-items: center;
    width: 50%;
}

.search-box input[type="text"] {
    flex: 1;
    /* El input ocupará todo el espacio restante del contenedor de la búsqueda */
    padding: 5px;
    margin-right: 5px;
    height: 30px;

}

.contactos {
    width: 20%;
    height: 20px;
    padding: 20px;
}

.contactos a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #f0f0f0;
}

.scroll-link {
    width: 100%;
    width: 100%;
    padding: 10px 10px;
    color: #1547b3;
    text-decoration: none;
    /* Quitar el subrayado del enlace */
}

.search-box a {
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*sladier de bienvenda de donbosco */
.swiper-container {
    width: 100%;
    min-height: 300px;
    /* Altura del slider */
    background-color: #dde00d;
}

.slider-descripcion {
    font-size: 2rem;
}

.slider-titulo{
    font-size: 3rem;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 10px;
}

.swiper-pagination-bullet {
    background-color: #888;
    /* Color de los puntos de paginación */
}

.swiper-pagination-bullet-active {
    background-color: #333;
    /* Color del punto de paginación activo */
}

/* Estilos para el contenedor */
.container {
    width: 90%;
    /* Ancho del contenedor (ajusta según tus necesidades) */
    max-width: 1200px;
    /* Ancho máximo del contenedor */
    margin: 0 auto;
    /* Centrar el contenedor horizontalmente en la página */
    padding: 20px;
    /* Espacio interno (relleno) del contenedor */
    border: 1px solid #ccc;
    /* Borde del contenedor */
    background-color: #f0f0f0;
    /* Color de fondo del contenedor */
}

h1 {
    text-align: center;
}

/*card de imagnes*/
/* Estilos para el contenedor */
.card {
    display: flex;
    /* Para colocar las imágenes en línea */
    flex-wrap: wrap;
    /* Si el contenido excede el ancho, envuelve a la siguiente línea */
    justify-content: space-between;
    /* Espacio entre las imágenes */
}

/* Estilos para cada tarjeta de imagen y título */
.image-card {
    width: 23.5%;
    /* Ancho de cada tarjeta (ajusta según tus necesidades) */
    margin-bottom: 20px;
    /* Espacio entre las tarjetas */
    text-align: center;
    /* Centrar el contenido */
}

.image-card img {
    width: 100%;
    /* Asegura que la imagen ocupe todo el ancho de su contenedor */
    border: 1px solid #ccc;
    /* Borde alrededor de la imagen (opcional) */
}

.image-card h3 {
    margin-top: 10px;
    /* Espacio entre la imagen y el título */
}
.card-micro{
    display: flex;
    /* Para colocar las imágenes en línea */
    flex-wrap: wrap;
    /* Si el contenido excede el ancho, envuelve a la siguiente línea */
    justify-content: space-between;    
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
.image-turismo {
    width: 49.5%;
    /* Ancho de cada tarjeta (ajusta según tus necesidades) */
    margin-bottom: 20px;
    /* Espacio entre las tarjetas */
    text-align: justify;
    /* Centrar el contenido */
}
.image-micro-mapa {
    width: 99.5%;
    /* Ancho de cada tarjeta (ajusta según tus necesidades) */
    margin-bottom: 20px;
    /* Espacio entre las tarjetas */
    text-align: center;
    /* Centrar el contenido */
}

.image-micro-mapa img {
    width: 80%;
    /* Asegura que la imagen ocupe todo el ancho de su contenedor */
    border: 1px solid #ccc;
    /* Borde alrededor de la imagen (opcional) */
}
.image-turismo100 {
    width: 100%;
    /* Ancho de cada tarjeta (ajusta según tus necesidades) */
    margin-bottom: 20px;
    /* Espacio entre las tarjetas */
    text-align: justify;
    /* Centrar el contenido */
}
.image-turismo img {
    width: 80%;
    /* Asegura que la imagen ocupe todo el ancho de su contenedor */
    border: 1px solid #ccc;
    /* Borde alrededor de la imagen (opcional) */
}
.image-turismo .div{       
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.card-l {
    display: flex;
    /* Para colocar las imágenes en línea */
    flex-wrap: wrap;
    /* Si el contenido excede el ancho, envuelve a la siguiente línea */
    justify-content: center;
    /* Espacio entre las imágenes */
}
.card-linea {
    width: 15%;
    display: flex ;   
    justify-content: center;
    align-items: center;
    /* Ancho de cada tarjeta (ajusta según tus necesidades) */
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 7px;
}
.card-linea a{
    display: block;
    width: 40px;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    border-radius: 10px;
    background-color: blueviolet;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}
.card-linea a:hover{
    background-color: transparent;
    border: 2px solid blueviolet;
    color: blueviolet;
}
#turismo-info h3 {
    text-align: center;
}
#turismo-lista {
    list-style: none;
    padding: 0;
}

#turismo-lista div img {
    cursor: pointer;
    background-color: #f0f0f0;
}

#turismo-lista div img:hover {
    background-color: #e0e0e0;
}

#turismo-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.contacto {
    background-color: #1547b3;
}

.contacto-card {
    width: 30%;
    text-align: center;
    color: #fff;
}




#search-results {
    display: none;
    list-style: none;
    cursor: pointer;
    position: absolute;
    padding: 5px;
    margin-top: 100px;
    margin-left: 300px;
    border: 1px solid #ccc;
    background-color: white;
}
#search-results li {
    padding: 5px;
}
.width-100{
    width:100%
}
.search-box ul {
    color: black;
}


.micro-titulo {
    text-align: start !important;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
}

/* Estilos para los íconos */
.fa-check {
    color: green;
    margin-right: 10px;
    font-size: 20px;
}



/*Para ajustar el tamaño de los bus-ico */
.bus-ico {
  object-fit: cover;
  width:100%;
  height:100%;
}

/* Para mostrar el  menu*/
.body_move {
    margin-left: 250px;
}





  
  #sidebar {
    overflow-y: scroll;
    position: fixed;
    width: 160px;
    height: 100%;
    background: #ffffff;
    left: -160px;
    transition: all 500ms linear;
    top: 0;
    padding-top: 40px;
    transition: left 0.3s ease-in-out;
  }
  
  #sidebar.active {
    position: absolute;
    left: 0px;
    border: 3px solid rgb(0, 0, 0);
  }
  
  #sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: right;
  }
  
  #sidebar .toggle-btn {
    position: inherit;
    left: 20px;
    top: 20px;
    cursor: pointer;
    color: #25e23e;
  }
  
  #sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #25e23e;
  }
  


#sidebar ul li a {
	color: #000000BF;
	text-decoration: none;
	padding: 18px;
	font-size: 18px;
	display: block;
}

#sidebar ul li a:hover{
	background: #DFE9f5;
}

#sidebar ul .subMenu {
	margin: 0;
	background: #FFFFFF;
	width: 100%;
	display: none;
}

#sidebar ul .subMenu li a {
	font-size: 18px;
	padding-left: 10%;
}

/*Para ajustar el tamaño de los bus-ico */
.bus-ico {
    object-fit: cover;
    width:100%;
    height:100%;
  }
  
  /* Para mostrar el  menu*/
  .body_move {
      margin-left: 250px;
  }
  
  /* Para llamar desde Js */
  #sidebar ul .activo{
      display: block;
  }




  @media(max-width:700px){
    header{
        flex-direction: column;
    }
    .menu-icon{
        margin-left: -65px;
    }
    .contactos{
        margin-left: -15px;
    }
    #search-results{
        margin-left: 55px;
    }
    /*.search-box{
        margin-left: -50px;
        flex-direction: column;
        display: grid;
        place-items: center;
    }*/
    .contacto-card{
        place-items: center;
    }
    .card{
        flex-direction: column;
        display: grid;
        place-items: center;
    }
    .image-micro-mapa{
        margin-left: 40px;
    }
    .card img{
        width: 70vw;
        height: 70vw;
    }
    .image-card{
        margin-left: -70px;
    }
    .image-card h3{
        width: 70vw;
    }
    .image-turismo{
        width: 90%;
    }
    .image-turismo100{
        width: 90%;
    }
    .image-turismo img{
        width: 70vw;
        height: 60vw;
    }
    
}

